.join__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.pawns__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
  max-height: 300px;
  border-left: 2px solid var(--text-primary);
}

.pawn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--bg-pink);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.pawn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background 0.3s ease-in-out;
}

.pawn:hover::before {
  background-color: var(--bg-pink-transparent);
}

.pawn:hover {
  transform: scale(1.2);
}

.pawn.active {
  transform: scale(1.2);
  background-color: var(--bg-pink-active);
}

.pawn__image {
  width: 5rem;
  height: 5rem;
}

.pawn__name {
  font-size: var(--font-sm);
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: var(--bg-purple);
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  padding: 0.5rem 0.25rem;
}

.pawn:hover .pawn__name {
  transform: translateY(0);
}

.join__btn {
  box-shadow: 0 0 2px 3px var(--bg-pink);
}
