.tileModal__container {
  --shadow-beer: hsl(120, 95%, 36%);
  --shadow-vodka: hsl(194, 87%, 42%);

  --height-hero: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-height: 600px;
  min-width: 600px;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.tileModal__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background 0.3s ease-in-out;
}

.tileModal__container:hover::before {
  background-color: var(--bg-purple-transparent);
}

.tileModal__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.tileModal__container:hover .tileModal__hero {
  max-height: var(--height-hero);
  opacity: 1;
  visibility: visible;
}

.tileModal__hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--bg-pink-transparent);
  z-index: -1;
  max-height: 0;
}

.tileModal__container:hover .tileModal__hero::before {
  max-height: var(--height-hero);
}

.tileModal__header {
  color: transparent;
  font-size: var(--font-xl);
  font-weight: 900;
  letter-spacing: 0.3rem;
  -webkit-text-stroke: 1px var(--text-primary);
  text-stroke: 1px var(--text-primary);
  text-shadow: 0 0 12px var(--text-primary);
  paint-order: stroke fill; /* kolejność rysowania - najpierw obramowanie, potem wypełnienie */
}

.tileModal__owner {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.7);
  opacity: 0.25;
  transition: all 0.3s ease-in-out;
}

.tileModal__container:hover .tileModal__owner {
  opacity: 1;
  transform: scale(1);
}

.tileModal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.tileModal__content::before {
  content: "";
  background-color: var(--bg-pink-transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
}

.tileModal__description {
  text-align: center;
  color: var(--text-hover);
  max-width: 15rem;
  z-index: 1;
}

.tileModal__info {
  letter-spacing: 0.3rem;
  position: relative;
  z-index: 1;
}

.tileModal__price {
  color: var(--text-price);
  font-weight: 700;
}

.tileModal__tax {
  color: var(--text-tax);
  font-weight: 700;
}

.tileModal__alcohols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 1.2rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(calc(-50% - 40px));
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}

.tileModal__container:hover .tileModal__alcohols {
  opacity: 1;
}

.alcohol__icon {
  width: 1.25rem;
  object-fit: contain;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6); */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.tileModal__container:hover .beer {
  filter: drop-shadow(0 0 0.5rem var(--shadow-beer));
}

.tileModal__container:hover .vodka {
  filter: drop-shadow(0 0 0.5rem var(--shadow-vodka));
}

.beer:hover {
  transform: scale(1.2);
}

.vodka:hover {
  transform: rotate(360deg) scale(1.5);
}

.tileModal__visitors {
  position: absolute;
  bottom: 150px; /* ta sama wysokość co "container::before" */
}

.visitors__pawns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tileModal__container:hover .visitors__pawns {
  opacity: 1;
}

.visitors__pawns div {
  transform: scale(0.7);
}

.tileModal__btn {
  box-shadow: 0 0 2px 3px var(--bg-pink);
  width: 100%;
}

.tileModal__btn:hover {
  box-shadow: none;
}

.confirm__container {
  text-align: center;
}

.confirm__container span {
  color: var(--text-hover);
  font-weight: 900;
}

.confirm__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid var(--text-primary);
}

.btn__disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
