.board {
    position: relative;
    padding: 1em;
    margin: 1em;
    display: flex;
    text-align: center;
    border: 3px solid var(--clr-pink);
    border-radius: 10px;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-board {
    max-width: 40em;
    width: 40em;
}

.board-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7em;
    height: 4.5em;
    padding: 1em;
    border: 1px solid var(--clr-pink);
    transition: all .3s ease-in-out;
}

.board-cell:hover {
    cursor: pointer;
    background: var(--clr-pink);
}

.board-cell.empty {
    border: none;
}

.board-cell.empty:hover {
    pointer-events: none;
    background: none;
}

.property-name {
    font-size: var(--size-sm);
    color: var(--clr-blue);
    text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink), -1px -1px 0 var(--clr-pink),
        1px -1px 0 var(--clr-pink);
    white-space: nowrap;
    position: absolute;
    bottom: 10%;
}

.property-image {
    width: 100%;
    max-height: 100%;
}

.dice-result {
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: var(--clr-blue);
    text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink), -1px -1px 0 var(--clr-pink),
        1px -1px 0 var(--clr-pink);
    font-size: var(--size-3xl);
    font-weight: 900;
    padding: .25em;
}