.player-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    padding: 2em;
    border: 3px solid var(--clr-blue);
    border-radius: 10px;
    width: 50em;
    max-width: 80%;
}

.logo {
    max-width: 20em;
}

input {
    width: 80%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    background: var(--clr-green);
}