.board {
  --tile-width: 140px;
  --tile-height: 120px;
  --text-price: hsl(103, 88%, 50%);
  --text-tax: hsl(4, 92%, 50%);

  width: 90vmin;
  height: 90vmin;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 1rem;
  width: min(100vw, 90vmin);
  aspect-ratio: 1 / 1;
  max-width: 1000px;
  position: relative;
}

.board__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  gap: 1rem;
}

.board__menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  justify-content: flex-end;
}

.menu__hero {
  padding: 0.5rem;
  border-bottom: 1px solid var(--text-hover);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25rem;
}

.menu__hero h3 {
  text-align: right;
  font-size: var(--font-xl);
}
.menu__hero span {
  text-align: right;
  font-style: italic;
  font-size: var(--font-sm);
  color: var(--text-hover);
}

.menu__players {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}

.alkopoly__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 3px solid var(--text-primary);
  padding: 1rem;
}

.board__dice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.board__dice img {
  max-width: 7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.board__dice img:hover {
  filter: drop-shadow(0 0 1rem var(--bg-purple));
  transform: scale(1.2);
}

.board__dice span {
  font-size: var(--font-4xl);
  font-weight: 700;
}

.empty_tile {
  padding: 1rem 1.5rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  min-height: var(--tile-height);
  min-width: var(--tile-width);
  overflow: hidden;
}
