.tile {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--bg-purple);
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  /* height: 100%; */
  min-height: var(--tile-height);
  min-width: var(--tile-width);
  overflow: hidden;
}

.tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-pink-transparent);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.tile:hover::before {
  opacity: 1;
}

.tile__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  font-size: var(--font-sm);
  z-index: 1;
}

.tile:hover .tile__header {
  top: 0;
  transform: translate(-50%, 50%);
  font-size: var(--font-base);
}

.tile__info {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: var(--font-sm);
  z-index: 1;
}

.tile:hover .tile__info {
  opacity: 1;
}

.tile__info span {
  font-weight: 700;
}

.tile__price {
  color: var(--text-price);
}

.tile__tax {
  color: var(--text-tax);
}

.players__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.players__container > div {
  width: 40px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.players__container img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.tile:hover .players__container {
  opacity: 0;
}
