.board {
  position: relative;
  padding: 1em;
  margin: auto;
  max-width: 85%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px solid var(--clr-pink);
  border-radius: 10px;
}

.current-player__name {
  color: var(--clr-pink);
  text-shadow: 1px 1px 1px var(--clr-blue), -1px -1px 1px var(--clr-blue),
    -1px -1px 0 var(--clr-blue), 1px -1px 0 var(--clr-blue);
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.5em var(--clr-pink));
}

.logo-board {
  max-width: 40em;
  width: 40em;
}

.dice-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dice {
  max-width: 10em;
  transition: all 0.3s ease-in-out;
}

.dice:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.75em var(--clr-pink));
}

.dice-result {
  position: absolute;
  top: 75%;
  left: 100%;
  transform: translate(100%, -100%);
  color: var(--clr-blue);
  text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink),
    -1px -1px 0 var(--clr-pink), 1px -1px 0 var(--clr-pink);
  font-size: var(--size-3xl);
  font-weight: 900;
  padding: 0.25em;
}

.board-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7em;
  height: 4.5em;
  padding: 1em;
  border: 1px solid var(--clr-pink);
  transition: all 0.3s ease-in-out;
}

.board-cell:hover {
  cursor: pointer;
  background: var(--clr-pink);
  filter: drop-shadow(0 0 0.5em var(--clr-pink));
}

.property-name {
  font-size: var(--size-sm);
  color: var(--clr-blue);
  text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink),
    -1px -1px 0 var(--clr-pink), 1px -1px 0 var(--clr-pink);
  white-space: nowrap;
  position: absolute;
  bottom: 10%;
}

.property-image {
  width: 100%;
  min-height: 4em;
  max-height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
  .board {
    border: none;
  }

  .logo-board {
    width: 35em;
  }

  .board-cell {
    padding: 0.5em;
  }

  .property-image {
    width: 80%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .board {
    border: none;
  }

  .logo-board {
    width: 30em;
  }

  .board-cell {
    width: 4em;
    height: 4em;
  }

  .property-name {
    font-size: var(--size-xs);
    text-wrap: wrap;
  }
}
