.board {
    position: relative;
    padding: 1em;
    margin: 5em auto;
    max-width: 85%;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid var(--clr-pink);
    border-radius: 10px;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-board {
    max-width: 40em;
    width: 40em;
}

.dice-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.dice {
    max-width: 10em;
    transition: all .3s ease-in-out;
}

.dice:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.dice-result {
    position: absolute;
    top: 75%;
    left: 100%;
    transform: translate(100%, -100%);
    color: var(--clr-blue);
    text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink), -1px -1px 0 var(--clr-pink),
        1px -1px 0 var(--clr-pink);
    font-size: var(--size-3xl);
    font-weight: 900;
    padding: .25em;
}

.board-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7em;
    height: 4.5em;
    padding: 1em;
    border: 1px solid var(--clr-pink);
    transition: all .3s ease-in-out;
}

.board-cell:hover {
    cursor: pointer;
    background: var(--clr-pink);
}

.board-cell.empty {
    border: none;
}

.board-cell.empty:hover {
    pointer-events: none;
    background: none;
}

.property-name {
    font-size: var(--size-sm);
    color: var(--clr-blue);
    text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink), -1px -1px 0 var(--clr-pink),
        1px -1px 0 var(--clr-pink);
    white-space: nowrap;
    position: absolute;
    bottom: 10%;
}

.property-image {
    width: 100%;
    max-height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
    .board {
        border: none;
    }

    .logo-board {
        width: 35em;
    }

    .board-cell {
        padding: .5em;
    }

    .property-image {
        width: 80%;
    }
}

/* xl */
@media (max-width: 1280px) {
    .board {
        border: none;
    }

    .logo-board {
        width: 30em;
    }

    .board-cell {
        width: 4em;
        height: 4em;
    }

    .property-name {
        font-size: var(--size-xs);
        text-wrap: wrap;
    }
}