.chance-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--clr-blue);
  padding: 3em;
  background-color: var(--clr-dark);
  border-radius: 10px;
  width: 15em;
  height: 25em;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-close {
  margin: 0.5em 0.25em;
}

.card-title {
  padding: 0.5em;
  font-size: var(--size-xl);
  color: var(--clr-pink);
  text-shadow: 1px 1px 1px var(--clr-blue), -1px 1px 1px var(--clr-blue),
    -1px -1px 0 var(--clr-blue), 1px -1px 0 var(--clr-blue);
}

.card-image {
  max-width: 10em;
  border: 3px solid var(--clr-blue);
  border-radius: 10px;
  filter: drop-shadow(0 0 0.5em var(--clr-blue));
}

.card-description {
  color: var(--clr-pink);
  padding: 1em 0.5em;
}

.card-action {
  color: var(--clr-blue);
  padding: 0 0.5em;
}
