.player {
  width: 3.5em;
  height: 4.5em;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.player-pawn {
  max-width: 2.5em;
  padding: 0.25em;
}

.player-name {
  color: var(--clr-blue);
  text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink),
    -1px -1px 0 var(--clr-pink), 1px -1px 0 var(--clr-pink);
  font-size: var(--size-xs);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.player:hover {
  cursor: pointer;
}

.player:hover .player-name {
  opacity: 1;
}

/* xl */
@media (max-width: 1280px) {
  .player {
    width: 3em;
    height: 4em;
  }

  .player-pawn {
    max-width: 2em;
    padding: 0.15em;
  }
}

/* xs */
@media (max-width: 475px) {
  .player {
    width: 2em;
    height: 2em;
  }

  .player-pawn {
    max-width: 1em;
    padding: 0;
  }
}
