.property-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--clr-pink);
  border-radius: 10px;
  max-width: 30em;
  height: 21em;
  background: var(--clr-dark);
  padding: 1em;
  z-index: 2;
}

.property-close {
  margin: 0.5em 0.25em;
  background: none;
}

.property-title {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  color: var(--clr-blue);
  text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink),
    -1px -1px 0 var(--clr-pink), 1px -1px 0 var(--clr-pink);
}

.property-img {
  width: 12em;
  max-height: 10em;
  padding: 0 1em 1em 1em;
}

.property-value {
  font-size: var(--size-lg);
  padding: 0.5em;
  max-width: 20ch;
  margin: auto;
  text-align: center;
}

.property-price {
  color: var(--clr-pink);
  font-weight: 700;
}
