.side-menu {
  position: fixed;
  top: 0;
  right: -50em;
  width: 100%;
  max-width: 30em;
  height: 70%;
  padding: 3em;
  margin: 3em 1.5em;
  border: 3px solid var(--clr-blue);
  border-radius: 10px;
  background: var(--clr-dark);
  transition: right 0.3s ease-in-out;
  z-index: 2;
}

.side-menu.open {
  right: 0;
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em 1.5em;
  margin: 1em;
  border: none;
  text-align: center;
  font-size: var(--size-xl);
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border: solid 1px transparent;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.menu-toggle:hover {
  color: var(--clr-pink);
  background-color: var(--clr-blue);
  filter: drop-shadow(0 0 0.5em var(--clr-blue));
  cursor: pointer;
}

.close-button {
  margin: 1.5em 1em;
}

.menu-title {
  border-bottom: 3px solid var(--clr-blue);
  padding-bottom: 1em;
}

.menu-title img {
  max-width: 3em;
  transition: all 0.3s ease-in-out;
}

.menu-title img:hover {
  transform: scale(1.5);
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em var(--clr-blue));
}

.players-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  overflow-y: auto;
  height: 80%;
}

.player-container {
  display: block;
  width: 90%;
  max-height: 3.5em;
  margin: 0.25em 0;
  border: 3px solid var(--clr-blue);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.player-container:hover {
  cursor: pointer;
  max-height: 15em;
  filter: drop-shadow(0 0 0.5em var(--clr-blue));
}

.player-container:hover .player-properties {
  opacity: 1;
  max-height: 7.5em;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.player-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  margin: 0 auto;
  width: 80%;
  height: 2.5em;
}

.player-info-pawn {
  max-width: 1.5em;
  filter: drop-shadow(0 0 0.5em var(--clr-blue));
}

.player-info-name,
.player-info-money,
.player-property-name {
  font-size: var(--size-lg);
}

.player-info-name,
.player-property-name {
  color: var(--clr-blue);
  text-shadow: 1px 1px 1px var(--clr-pink), -1px 1px 1px var(--clr-pink),
    -1px -1px 0 var(--clr-pink), 1px -1px 0 var(--clr-pink);
}

.player-info-money {
  color: var(--clr-pink);
  text-shadow: 1px 1px 1px var(--clr-blue), -1px 1px 1px var(--clr-blue),
    -1px -1px 0 var(--clr-blue), 1px -1px 0 var(--clr-blue);
}

.player-properties {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-height: 0;
  margin: 0.25em auto;
  padding: 1.5em 0.5em;
  border-top: 3px solid var(--clr-blue);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.player-property {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  width: 90%;
}

.player-property-name,
.player-property-img {
  padding: 0.2em 0.5em;
}

.player-property-img {
  max-width: 2em;
  filter: drop-shadow(0 0 0.5em var(--clr-blue));
}

.reward {
  position: relative;
  bottom: 0;
  padding: 1em;
  margin: 0.5em;
  font-size: var(--size-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-blue);
  border-top: 3px solid var(--clr-blue);
  filter: drop-shadow(0 0 0.5em var(--clr-pink));
}

.reward-money {
  color: var(--clr-pink);
  padding: 0 0.5em;
  font-weight: 600;
}

/* md */
@media (max-width: 768px) {
  .side-menu {
    max-width: 40em;
    height: 90%;
    padding: 2em;
    margin: 0 2em;
  }

  .close-button {
    padding: 0.5em 1em;
    margin: 1em;
  }
}

/* xs */
@media (max-width: 475px) {
  .side-menu {
    max-width: 20em;
    height: 90%;
    padding: 2em;
    margin: 0 1em;
  }

  .close-button {
    padding: 0.5em 1em;
    margin: 1em;
  }
}
