/* xs */
/* @media (max-width: 475px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */

.btn {
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 1.5em 4em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border: solid 1px transparent;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    -webkit-font-smoothing: antialiased;
}

.btn:hover {
    transform: scale(1.1);
    color: var(--clr-pink);
    background-color: var(--clr-blue);
}